<div class="container mt-4">
  <!-- Header action buttons + search -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Listado de Citas</h2>
    <button
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#citaModal"
      (click)="onNewClick()"
    >
      <i class="bi bi-plus"></i>
    </button>
  </div><!-- / Header action buttons + search -->
  <full-calendar [options]="calendarOptions"></full-calendar>
</div>
<app-cita-modal-form
  [cita]="citaSeleccionada()"
  (formSubmit)="onFormSubmit($event)"
  (modalClose)="onModalClose()"
/>
